PORT=3001
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/findmytheka
JWT_SECRET=your-super-secret-jwt-key-change-in-production
MAPPLS_ACCESS_TOKEN=rxhufjhrshhoapvhbzrmzrsdfplpbusnbauk
MAPPLS_API_URL=https://search.mappls.com/search/places/nearby/json
DEFAULT_RADIUS=5000
DEFAULT_REGION=IND
DEFAULT_KEYWORDS=RTSWIN
GOOGLE_DEMO_KEY=AIzaSyBk0VHCeD4SF83B3Gqof8nPNGCRzuVpRyc
